body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgb(133, 208, 153),
    rgb(85, 85, 209)
  );
}

nav :hover {
  color: rgb(0, 238, 255);
}

a {
  display: flex;
  list-style-type: none;
  color: white;
  text-decoration: none;
}
a img {
  width: 40px;
  height: 40px;
  background-color: none;
  border-radius: 50%;
  align-items: center;
}
p {
  padding: 0px 10px;
}
main a {
  padding: 10px;
  justify-content: center;
  color: black;
}
