body {
  color: black;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15%;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  position: fixed;
  margin: 0%;
  top: 0%;
  left: 0%;
  right: 0%;
  padding: 16px;
  background-image: linear-gradient(
    to right,
    rgb(133, 208, 153),
    rgb(85, 85, 209)
  );
}

nav :hover {
  color: rgb(0, 238, 255);
}

a {
  align-items: center;
  padding: 10px 10px;
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.imagem img {
  height: 10%;
  width: 5%;
  background-color: none;
  border-radius: 50%;
  align-items: center;
}

p {
  padding: 0px 10px;
}

main a {
  color: rgb(0, 0, 0);
}
