body {
  color: white;
  background-color: rgb(13, 76, 92);
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
  background-color: rgb(133, 208, 153);
  border-radius: 20px;
}

nav :hover {
  color: rgb(0, 238, 255);
}

 a {
  color: white;
  text-decoration: none;
}

header img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(0, 9, 128);
}

.center {
  text-align: center;
}
  
.text h1 {
  color: rgb(0, 9, 128);
}

footer {
  display: flex;
  justify-content: center;
}

footer img {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
}

footer a {
  color: white;
  margin: 5%;
  text-align: center;
}
footer p {
  margin-top: 5px;
}
.container {
  padding: 0px 50px;
}
.text {
  padding: 0px 50px;
}
